{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWL Dice Simulator</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/both.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/selectDef.css' %}">
 
 

</head>



<body>

  <div class = "maindiv">
    <div class ="formcontainer">
      <div class="header">
  
        <h1>Dés Attaque</h1>
        <form action="outputatt" method="POST">
          {% csrf_token %}

  

          <div class="form__group">
            <input type="number" name="ratt" class="form__input" id="name" placeholder="Rouge Attack" />
            <label for="name" class="form__label">Rouge Attack</label>
          </div>
          <div class="form__group">
            <input type="number" name="natt" class="form__input" id="name" placeholder="Noir Attack"  />
            <label for="name" class="form__label">Noir Attack</label>
          </div>
  
          <div class="form__group">
            <input type="number" name="watt" class="form__input" id="name" placeholder="Blanc Attack"  />
            <label for="name" class="form__label">Blanc Attack</label>
          </div>
  
          <h1>Modifications</h1>
          <label class="container">Adre Crit
            <input type="checkbox" name="adrecrit">
            <span class="checkmark"></span>
          </label>
          <label class="container">Adre Touche
            <input type="checkbox" name="adretouche">
            <span class="checkmark"></span>
          </label>
          <label class="container">Haut Vélocité
            <input type="checkbox" name="hautevelocite">
            <span class="checkmark"></span>
          </label>
          <br>
          <div class="form__group">
            <input type="number" name="aim" class="form__input" id="name" placeholder="Aim"  />
            <label for="name" class="form__label">Aim</label>
          </div>
          <div class="form__group">
            <input type="number" name="precise" class="form__input" id="name" placeholder="Precise"  />
            <label for="name" class="form__label">Precise</label>
          </div>

          <div class="form__group">
            <input type="number" name="surge" class="form__input" id="name" placeholder="Surge"  />
            <label for="name" class="form__label">Surge</label>
          </div>

          <div class="form__group">
            <input type="number" name="critical" class="form__input" id="name" placeholder="Critical"  />
            <label for="name" class="form__label">Critical</label>
          </div>
          <div class="form__group">
            <input type="number" name="impact" class="form__input" id="name" placeholder="Impact"  />
            <label for="name" class="form__label">Impact</label>
          </div>
          <div class="form__group">
            <input type="number" name="perforant" class="form__input" id="name" placeholder="Perforant"  />
            <label for="name" class="form__label">Perforant</label>
          </div>

      </div>

      
  
  
      <div class="header2">
        <h1>Dés Défense</h1>

          <div class="box">
            <select name ="defdices">
              <option>No Defense</option>
              <option value="rdef">Rouge Defense</option>
              <option value="wdef">Blanc Defense</option>
            </select>
          </div>

          <h1>Modifications</h1>

          <label class="container">Adre Bouclier
            <input type="checkbox" name="adredef" >
            <span class="checkmark"></span>
          </label>

          <label class="container">Full Armure
            <input type="checkbox" name="fullarmure">
            <span class="checkmark"></span>
          </label>

          <label class="container">Manoeuvres Impro.
            <input type="checkbox" name="manoimpro">
            <span class="checkmark"></span>
          </label>

          <div class="form__group">
            <input type="number" name="dodge" class="form__input" id="name" placeholder="Dodge"  />
            <label for="name" class="form__label">Dodge</label>
          </div>

          <div class="form__group">
            <input type="number" name="couvert" class="form__input" id="name" placeholder="Couvert"  />
            <label for="name" class="form__label">Couvert</label>
          </div>

          <div class="form__group">
            <input type="number" name="armure" class="form__input" id="name" placeholder="Armure"  />
            <label for="name" class="form__label">Armure</label>
          </div>

          <div class="form__group">
            <input type="number" name="surgedef" class="form__input" id="name" placeholder="Surge"  />
            <label for="name" class="form__label">Surge</label>
          </div>

          <div class="form__group">
            <input type="number" name="dangersens" class="form__input" id="name" placeholder="Danger Sens"  />
            <label for="name" class="form__label">Danger Sens</label>
          </div>


          <div class="form__group">
            <input type="number" name="coupdechance" class="form__input" id="name" placeholder="Cp De Chance"  />
            <label for="name" class="form__label">Cp De Chance</label>
          </div>

        

          

  
  
          <div class="form__group">
            <button class="button-87" role="button" onclick="formProcess()" >Valider</button>
          </div>

      </div>
    </div>
  
    {% if output == True %}
  
    {% if outputatt == True %}
    <div class="result" id="tv">
  
    <h1 id="black">Results :</h1>
    <br> <br> <hr> <br><br>
    <h2 >Moyenne de Crit</h2> 
    <h3 id="yellow">{{crits}}</h3>
    <br>  <br>
    <h2 >Moyenne de hits</h2>
    <h3 id="green">{{hits}}</h3>
    <br>  <br>


    <br> <hr>  <br>

    <br>  <br>
    <h2>Nombre dés défense</h2>
    
    <h3 id="red1">{{numbersaves}}</h3>
    <br>  <br>


    <h2>Moyenne de Blessures </h2>
    <h3 id="red">{{wounds}}</h3>


    {% if armorNumber > 0 or fullArmor > 0 or fullArmor or couvertNumber > 0 or dodgeNumber > 0 %}
    <br><br> <hr>  <br><br>
    <p class="MainModifications">Modificateurs</p><br>
  
    
    {% if armorNumber > 0 %}<p class="Modifications"> Armure {{armorNumber}}</p> {%endif%}
    {% if fullArmor %}<p class="Modifications"> Full Armure </p> {%endif%}
    {% if dodgeNumber > 0 %}<p class="Modifications"> Dodge {{dodgeNumber}}</p> {%endif%}
    {% if couvertNumber > 0 %}<p class="Modifications"> Couvert {{couvertNumber}}</p> {%endif%}
    <br>
    {%endif%}

    </div>
    {% endif %}
  
    {% endif %}
  </div>


  



<script>



</script>



</body>


</html>



