*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}
h1 {
    margin-bottom: 20px;
    margin-top:20px;
    text-align: center;
}



body {
  background: #0f2027; /* fallback for old browsers */
  background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
  color: #fff;
}

.form__group{
    margin-top: 20px;
}

.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 55%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}


.header,.header2{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

   
}

.formcontainer{

    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-left: 30px;

}

.maindiv{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.result {
    justify-content: center;
    padding-top: 30px;
    margin-top: 100px;
    margin-right: 20%;

}




h2{
    color:#08394e !important;
}
#black{
    color:#000000 !important;
}
h3{
    color:#0874a2; 
}

#tv {
    position: relative;
    width: 350px;
    height: 550px;
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: white;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
  }
  #tv:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
  }
  